.event-card, .event-card--highlighting, .event-card--activate {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0.4rem 0.5rem;
    margin-bottom: 0.4rem;
    background: var(--card-background);
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
    width: 95px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.event-card--highlighting {
    background-color: var(--highlighting-color);
    box-shadow: 0 0 0 2px #38b2ac;
}

.event-card__host {
    color: var(--light-color);
}

.event-card__action {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    opacity: 0.75;
}

.event-card__action:hover {
    opacity: 1;
}

.card-info-hidden {
    display: none;
}