.booking-drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: min(420px, 90vw);
    height: 100%;
    background: #fff;
    border-left: 1px solid #eee;
    padding: 1rem;
    overflow-y: auto;
    z-index: 1000;
}
