.event-card__status {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    color: var(--dark-color);
    transform: rotate(-15deg);
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    background: #ffffff;
    padding: 1px;
    position: absolute;
    width: 40px;
    right: -5px;
    top:-1px;
}

.event-card__status--busy {
    color: #999;
}

.event-card__status--purchased {
    color: var(--purchased-color);
}

.day-unavailable {
    color: var(--unavailable-color);
    padding: 0.75rem 0;
    text-align: center;
    border: 1px dashed var(--dark-color);
    border-radius: 6px;
}
