.drawer-auth {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--dark-color);
}

.drawer-auth h4 {
    margin-bottom: 0.5rem;
}

.drawer-auth-form {
  position: relative;
}

.drawer-auth-form h4 {
    margin-bottom: 0.5rem;
}

.drawer-auth-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.drawer-auth-form input {
    width: 100%;
    padding: 0.7rem;
    font-size: var(--text-font-family);
}

.drawer-auth-form button {
    width: 100%;
    padding: 0.8rem;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #bbb;
    background: var(--auth-background);
    color: var(--primary-color);
    cursor: pointer;
}

.drawer-auth-switch {
    margin-top: var(--standard-gap);
}

.drawer-auth-switch button {
    padding: 0.5rem 0.8rem;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #bbb;
    background: var(--auth-switch-background);
    color: var(--primary-color);
    cursor: pointer;
}

.drawer-auth-form button:hover,
.drawer-auth-switch button:hover {
    border-color: var(--primary-color);
}
